/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */

$Barlow-cond: 'Barlow Condensed', sans-serif;

/* color */

$dark-blue: #0C101C;
$white: #FFFFFF;
$black: #000000;
$yellow-style: #FFC100;
$yellow-st: #FFD600;
$yellow-darkened: #8B6C0C;
$red-style: #FF4245;
$red-st: #E31115;
$grey-style: #85878D;
$black-style: #17181A;