//Header



.burger-menu {
  position: absolute;
  width:100%;
  height:100%;
  color: $yellow-style;
}

.container {
  position: absolute;
  top: 2%;
  right: 0;
  z-index: 999;
  margin: -20px 0 0 -65px;
  width: 130px;
  height: 40px;

  span.menu {
    position: absolute;
    left: 150%;
    top: 7px;
  }

  input {
    display: none;

    &:checked + label:before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      width: 40px;
      height: 4px;
      //border-radius: 2px;
      background: $yellow-style;
      animation: animationOne 1s ease forwards;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      width: 40px;
      height: 4px;
      //border-radius: 2px;
      background: $yellow-style;
      animation: animationTwo 1s ease forwards;
    }

    &:checked + label .burger:before {
      -webkit-animation: animationBurgerTop 1s ease forwards;
      animation: animationBurgerTop 1s ease forwards;
    }

    &:checked + label .burger:after {
      -webkit-animation: animationBurgerBottom 1s ease forwards;
      animation: animationBurgerBottom 1s ease forwards;
    }
  }

  label {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    background: transparent;

    &:before{
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      width: 40px;
      height: 4px;
      //border-radius: 2px;
      background: $yellow-style;
      animation: animationOneReverse 1s ease forwards;
    }

    &:after{
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      width: 40px;
      height: 4px;
      //border-radius: 2px;
      background: $yellow-style;
      animation: animationTwoReverse 1s ease forwards;
    }

    .burger:before {
      content: '';
      position: absolute;
      top: 6px;
      width: 40px;
      height: 4px;
      //border-radius: 2px;
      background: $yellow-style;
      -webkit-animation: animationBurgerTopReverse 1s ease forwards;
      animation: animationBurgerTopReverse 1s ease forwards;
    }

    .burger:after {
      content: '';
      position: absolute;
      bottom: 6px;
      width: 40px;
      height: 4px;
      //border-radius: 2px;
      background: $yellow-style;
      -webkit-animation: animationBurgerBottomReverse 1s ease forwards;
      animation: animationBurgerBottomReverse 1s ease forwards;
    }
  }
}

@-webkit-keyframes animationOneReverse {
  0% { -webkit-transform: rotate(315deg); }
  25% { -webkit-transform: rotate(360deg); }
  50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationOneReverse {
  0% { transform: rotate(315deg); }
  25% { transform: rotate(360deg); }
  50%, 100% { transform: rotate(0deg); }
}

@-webkit-keyframes animationOne {
  0%, 50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(315deg); }
}
@keyframes animationOne {
  0%, 50% { transform: rotate(0deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(315deg); }
}

@-webkit-keyframes animationTwoReverse {
  0% { -webkit-transform: rotate(405deg); }
  25% { -webkit-transform: rotate(450deg); }
  50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationTwoReverse {
  0% { transform: rotate(405deg); }
  25% { transform: rotate(450deg); }
  50%, 100% { transform: rotate(0deg); }
}

@-webkit-keyframes animationTwo {
  0%, 50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(450deg); }
  100% { -webkit-transform: rotate(405deg); }
}
@keyframes animationTwo {
  0%, 50% { transform: rotate(0deg); }
  75% { transform: rotate(450deg); }
  100% { transform: rotate(405deg); }
}

@-webkit-keyframes animationBurgerTopReverse {
  0%, 50% { -webkit-transform: translateY(12px); opacity: 0; }
  51% { -webkit-transform: translateY(12px); opacity: 1; }
  100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerTopReverse {
  0%, 50% { transform: translateY(12px); opacity: 0; }
  51% { transform: translateY(12px); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes animationBurgerTop {
  0% { -webkit-transform: translateY(0px); opacity: 1; }
  50% { -webkit-transform: translateY(12px); opacity: 1; }
  51%, 100% { -webkit-transform: translateY(12px); opacity: 0; }
}
@keyframes animationBurgerTop {
  0% { transform: translateY(0px); opacity: 1; }
  50% { transform: translateY(12px); opacity: 1; }
  51%, 100% { transform: translateY(12px); opacity: 0; }
}

@-webkit-keyframes animationBurgerBottomReverse {
  0%, 50% { -webkit-transform: translateY(-12px); opacity: 0; }
  51% { -webkit-transform: translateY(-12px); opacity: 1; }
  100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerBottomReverse {
  0%, 50% { transform: translateY(-12px); opacity: 0; }
  51% { transform: translateY(-12px); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes animationBurgerBottom {
  0% { -webkit-transform: translateY(0px); opacity: 1; }
  50% { -webkit-transform: translateY(-12px); opacity: 1; }
  51%, 100% { -webkit-transform: translateY(-12px); opacity: 0; }
}
@keyframes animationBurgerBottom {
  0% { transform: translateY(0px); opacity: 1; }
  50% { transform: translateY(-12px); opacity: 1; }
  51%, 100% { transform: translateY(-12px); opacity: 0; }
}