img {
  max-width: 100%;
  height: auto;
}

.homepage, .track {
  background-color: $dark-blue;
  font-family: $Barlow-cond;
  text-align: center;
  height: auto;
  position: relative;

  .title-container {
    z-index: 999;
  }
  .title {
    //font-weight: 800;
    font-family: $fontextrabold;
    text-transform: uppercase;
    text-align: center;
    font-size: 72px;
  }

  .title--yellow {
    color: $yellow-style;
  }

  .title--black {
    color: $black;
  }

  .homepage-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    // position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .form-container { //triangle
      display: block;
      height: 16vh;
      width: 100vw;
      background: $yellow-style;
      position: absolute;
      bottom: 0px;
      left: 0;

      &::after {
        content: '';
        display: block;
        position: absolute;
        /* bottom: 0px; */
        top: -455%;
        left: -50vw;
        height: 0;
        border-style: solid;
        border-width: 0 0 90vh 200vw;
        border-color: transparent transparent $yellow-style transparent;
      }

    }
  }

  .container-bottom {
    color: $dark-blue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    &::after {
      content: '';
      height: 30px;
      border-left: 1.5px solid $dark-blue;
    }

    p {
      line-height: 40px;
    }
  }

  .vinyl-anim {
    position: relative;
    margin: 25px auto;
    max-width: 363px;
    -webkit-box-shadow: 2px 0px 42px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 0px 42px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 0px 42px 0px rgba(0,0,0,0.15);

    .vinyl-anim__pochette {
      width: auto;

      @include breakpoint(iphone-6) {
        width: 245px;
      }

      @include breakpoint(ipad-large) {
        width: 363px;
      }
    }

    .vinyl-anim__vinyle {
      position: absolute;
      top: 0;
      left: 30%;
      z-index: -1;
      max-width: 363px;

      @include breakpoint(iphone-6) {
        width: 235px;
        left: 25%;
      }

      @include breakpoint(ipad-large) {
        width: 353px;
      }
    }
    
  }

}

.content-vinyl {
  display: block;
  width: 100vw;
  height: 100%;
  background-color: $dark-blue;
  text-align: left;
  padding: 149px 39px 129px;
  color: $white;

  h2 {
    color: $white;
    font-family: $fontextrabolditalic;
    font-size: 33px;
    line-height: 48px;
    margin-bottom: 10px; 
  }

  .title-song--red {
    color: $red-style;
    font-size: 27px;
  }

  .js-container-number {
    text-align: center;
    margin-top: 73px;

    .js-container-number__first {
      display: block;
      color: $white;
      font-size: 72px;
      font-family: $fontsemibold;
    }

    .container-number__grey {
      font-size: 16px;
      opacity: 0.6;
      font-family: $fontregular;
      font-style: italic;
      position: relative;
      margin-top: 54px;

      &::before {
        content: '';
        height: 30px;
        border-left: 1.5px solid $white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
      }
    }
  }

  .square-cover {
    width: 242px;
    height: 242px;
    background-color: $yellow-style;
    display: block;
    margin: 80px auto 0;
  }

  .content-track {
      margin-top: 173px;

      @include breakpoint(ipad-large) {
        .content-track {
          max-width: 590px;
          margin: 0 auto;
        }
        
      }

    .content-track__title {
      color: $yellow-style;
      font-family: $fontsemibold;
      text-transform: uppercase;
      margin-top: 173px;
      position: relative;
      padding-left: 50px;


      &::before {
        content: '';
        width: 34px;
        height: 3px;
        background-color: $yellow-st;
        position: absolute;
        left: 0;
        top: 50%;
      }
    }

    .js-content-track__about {
      margin-top: 24px;
      line-height: 32px;
      color: $white;
      font-size: 22px;
      font-family: $fontmedium;
    }
  }
}

//BLOCS CHANSONS PRECEDENTE & SUIVANTE PRÉSENTS TRACK ET INDEX
.choose-tracks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100vw;

    .previous-track {
      display: none;

      @include breakpoint(ipad-large) {
        display: flex;
      }
    }

    .next-track {
      width: 100%;

      @include breakpoint(ipad-large) {
        width: 50%;
      }
    }
}


//bloc seulement sur desktop pour aller à la chanson précédente

.choose-tracks {
  display: flex;
  width: 100vw;
}

.track-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  padding: 35px 32px;
  background-color: $yellow-style;
  text-align: left;
  align-items: center;

  @include breakpoint(ipad-large) {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px; 
  }

  @include breakpoint(small-desk) {
    padding-left: 68px;
    padding-right: 68px; 
  }

  &.track-link--desktop {
    display: none;

    @include breakpoint(ipad-large) {
      display: flex;
      padding-left: 30px;
      padding-right: 30px;  
    }

    @include breakpoint(small-desk) {
      padding-left: 68px;
      padding-right: 68px; 
    }

  }

  &.track-link--black-reversed {
    flex-direction: row-reverse;
    background-color: $black;

    .track-link__track-infos:nth-child(2) {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row-reverse;
      align-items: center;
    }

      .track-link__arrow {
        padding-right: 68px;
      }

    }
  }

  .track-link__track-title {
    font-size: 24px;
    font-family: $fontblackitalic;
    padding-bottom: 5px;
    color: $black;

    &.track-link__track-title--white {
      color: $white;
    }
  }

  .track-link__artist {
    font-size: 19px;
    font-family: $fontregular;
    color: $red-st;
  }

  .track-link__track-number {
    font-size: 36px;
    font-family: $fontsemibold;
    color: $black;

    &.track-link__track-number--yellow {
      color: $yellow-darkened;
    }
  }

  .track-link__arrow {

    @include breakpoint(ipad-large) {
      display: none;
    }


    &.track-link__arrow--desktop {
      display: none;

      @include breakpoint(ipad-large) {
        display: block;
      }
  }
}

.track-link:not(.track-link--black-reversed) {

  @include breakpoint(ipad-large) {

    .track-link__track-infos:nth-child(2) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      .track-link__track-number {
        padding-right: 68px;
      }

    }
  }
}

//tracklist
.tracklist-page {
  background-color: $dark-blue;
  font-family: $Barlow-cond;
  text-align: center;
  height: auto;
  position: relative;

  .tracklist {
    padding: 85px 40px 85px;
    display: flex;
    flex-flow: column wrap;

    @include breakpoint(ipad-large) {
      display: block;
      column-count: 2;
      column-gap: 150px;
      padding-top: 125px; 
      padding-bottom: 170px; 
    }

  }

  .track-item {
    color: $red-st;
    position: relative;
    text-align: left;
    padding-top: 11px;
    padding-bottom: 5px;
    margin-bottom: 56px;

    .track-item__name--special-width {
      max-width: 210px;

      @include breakpoint(ipad-large) {
        max-width: 100%;
      }
    }

    

    @include breakpoint(ipad-large) {
      margin-bottom: 80px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      display: block;
      width: 26px;
      height: 3px;
      background-color: $yellow-style;
    }

    .track-item__name {
      color: $white;
      font-size: 26px;
      line-height: 38px;
      margin-bottom: 7px;
      margin-top: 8px;
      font-family: $fontextrabolditalic;
    }

    .track-item__artist {
      font-size: 18px;
      display: inline;
      text-align: left;
      font-family: $fontmedium;
      color: $red-st;

    }

    .track-item__number {
      font-size: 48px;
      color: $grey-style;
      position: absolute;
      right: 0;
      bottom: 0;
      font-family: $fontsemibold;
    }
  }

  .arrow-up {
    background-color: $yellow-style;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @include breakpoint(ipad-large) {
      display: none;
    }

  }
}

//track 
.track-page {
  background-color: $dark-blue;
  font-family: $Barlow-cond;
  text-align: center;
  height: auto;
  position: relative;
}